{% extends 'base.html.twig' %}

{% block body %}
    <h1>Inscription à l'événement: {{ event.titre }}</h1>

    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.email) }}
    {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}
