{% extends 'back_office/index.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <div class="container-fluid py-2">
        <div class="row">
            <div class="col-12">
                <div class="card my-4">
                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                        <div class="bg-gradient-dark shadow-dark border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Courses Table</h6>
                        </div>
                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Titre</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Formateur</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Description</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Contenu</th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Image</th>
                                        <th class="text-secondary opacity-7">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cour in cours %}
                                        <tr>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ cour.titre }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ cour.formateur.nom | default('No name') }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ cour.description }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                <span class="text-secondary text-xs font-weight-bold">{{ cour.contenu }}</span>
                                            </td>
                                            <td class="align-middle text-center">
                                                {% if cour.image %}
                                                    <img src="{{ asset('img/' ~ cour.image) }}" alt="{{ cour.titre }}" class="img-thumbnail" width="100">
                                                {% else %}
                                                    <span class="text-secondary text-xs">Pas d'image</span>
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                <div class="ms-auto text-end">
                                                    {# <a class="btn btn-primary text-white px-3 mb-0" href="{{ path('app_cours_show', {'id': cour.id}) }}">
                                                        <i class="material-symbols-rounded text-sm me-2">visibility</i> Show
                                                    </a> #}
                                                    <a class="btn btn-danger text-white px-1 mb-0" href="{{ path('app_cours_delete', {'id': cour.id}) }}">
                    {{ include('cours/_delete_form.html.twig') }}
                                                    </a>
                                                    <a class="btn btn-warning text-dark px-3 mb-0" href="{{ path('app_cours_edit', {'id': cour.id}) }}">
                                                        <i class="material-symbols-rounded text-sm me-2">edit</i> Edit
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="6" class="text-center">No records found</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- Bouton "Create New" stylisé -->
                        <div class="text-end mt-4">
                            <a href="{{ path('app_cours_new') }}" class="btn btn-success text-white px-4 py-2">
                                <i class="material-symbols-rounded text-sm me-2">add_circle</i> Create New Course
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
